@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Commuters-Sans";
  src: url("./assets/fonts/Commuters-Sans.otf");
}

@font-face {
  font-family: "Against";
  src: url("./assets/fonts/Against.otf");
}

@font-face {
  font-family: "Branch";
  src: url("./assets/fonts/Branch.otf");
}

@font-face {
  font-family: "Cyrene";
  src: url("./assets/fonts/Cyrene.otf");
}

@font-face {
  font-family: "SulphurPoint";
  src: url("./assets/fonts/SulphurPoint.otf");
}
